@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  width: 100%;
}
.main-praveen {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  padding: 20px;
  margin: auto;
}
.card1_buynow {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* .card1_btn1 {
  width: 100%;
  height: 50px;
background-color:rgb(24,74,78)!important;
color: #fff !important;
} */
.product-title{

text-align: center;

}
h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  text-align: center;
}
.product-price {
  text-align: center;
  font-size: 2rem !important;
  font-weight: 600 !important;
}
.product-billed {
  text-align: center;
}
button{
  width: 90%;
}
.product-free {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.product-trail {
  border-bottom: 3px solid;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
}
.content-wrapper{
  background-color:rgb(24,74,78) !important;
  color: #fff !important;

}
.product-item{
  width: 85%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  display: flex;
  font-size: 16px;
  border-top: 1px solid #c2c8cc;
  width: 100%;
  padding: 6px;
  /* text-align: center; */
}
i.icon_two{
  padding-left: 10px !important;
  font-size:10px !important;
  /* display: flex;float */
  float: right !important;
}
